  .container{
            width: 80vw;
            height: 80vh;
            border: 2px solid red;
            background-color: pink;
            position: relative;
        }
        .ball{
            width: 45px;
            height: 45px;
            background-color: maroon;
            border-radius: 70px;
            position: absolute;
            left: 10px;
            bottom: 290px;

animation: animationy 1s ease-out infinite alternate,  animationx 3s linear infinite;;
        }
        @keyframes animationx {
            from{
                left: 0;
            }
            to{
                left: 100%;
            }
        }
         @keyframes animationy {
                from{
                    bottom:0;
                }
                to{
                    bottom:100% ;
                }
            }
  